* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(226, 230, 231);
}

h1 {
    text-align: center;
    color: grey;
    margin: 30px 0 50px;
}

/* ----------   Input field  ----------- */

.search-wrapper {
    text-align: center;
    padding-bottom: 20px;
}

input {
    width: 70%;
    max-width: 460px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #b4b2b2;
    box-shadow: inset 3px 3px 5px rgba(0, 7, 36, 0.150);
}

input:hover {
    border: 2px solid #344dd6d5;
}

input::placeholder {
    opacity: .5;
}

/* ----------   Photo Gallery  ----------- */

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 244, 246);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 768px;
}

.photo-gallery img {
    margin: 10px;
    padding: 10px;
}

.lb-data .lb-caption {
    font-size: 15px;
    font-style: normal;
}

.lb-dataContainer {
    padding-top: 14px;
}

.photo-gallery .thumbnail {
    transition: .5s;
}

.photo-gallery .thumbnail:hover {
    transform: scale(1.1);
}

/* ----------   Footer  ----------- */

footer {
    text-align: center; 
    padding: 30px;
    color: grey;
}

/* ----------   Media Query  ----------- */

@media (min-width: 768px) {

    .photo-gallery {
        max-width: 1080px; 
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .photo-gallery img {
       margin: 15px;
    }
    .lb-data .lb-caption {
        font-size: 20px;
    }
}

